In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd



---

# Importing the datasets

---

In [3]:
df_movies  = pd.read_csv('/content/drive/MyDrive/DataSets/the-movies-dataset/movies_metadata_fixed.csv')
df_ratings = pd.read_csv('/content/drive/MyDrive/DataSets/the-movies-dataset/ratings_small.csv')

In [4]:
df_movies.head()

   adult  ... vote_count
0  False  ...       5415
1  False  ...       2413
2  False  ...         92
3  False  ...         34
4  False  ...        173

[5 rows x 24 columns]

In [5]:
df_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205



---

# Feature selection

---



---

## Feature selection for 'df_movies' dataset

---

In [7]:
df_movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [8]:
df_movies = df_movies[['id', 'original_title']]

In [16]:
df_movies.head()

      id               original_title
0    862                    Toy Story
1   8844                      Jumanji
2  15602             Grumpier Old Men
3  31357            Waiting to Exhale
4  11862  Father of the Bride Part II

---

## Feature selection for 'df_ratings' dataset

---

In [9]:
df_ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [10]:
df_ratings = df_ratings[['userId', 'movieId', 'rating']]

In [15]:
df_ratings = df_ratings.rename(columns={'movieId': 'id'})
df_ratings.head()

   userId    id  rating
0       1    31     2.5
1       1  1029     3.0
2       1  1061     3.0
3       1  1129     2.0
4       1  1172     4.0

In [20]:
df_ratings.userId.nunique()

671



---

## Merge the datasets

---

In [13]:
df = df_movies.merge(df_ratings, how='inner', on='id')

In [24]:
df.head()

    id original_title  userId  rating
0  949           Heat      23     3.5
1  949           Heat     102     4.0
2  949           Heat     232     2.0
3  949           Heat     242     5.0
4  949           Heat     263     3.0

In [17]:
df.shape

(44994, 4)

In [19]:
df.userId.nunique()

671



---

# Handling

---

In [25]:
df.drop_duplicates()

          id                        original_title  userId  rating
0        949                                  Heat      23     3.5
1        949                                  Heat     102     4.0
2        949                                  Heat     232     2.0
3        949                                  Heat     242     5.0
4        949                                  Heat     263     3.0
...      ...                                   ...     ...     ...
44989  64197  Puteshestvie s domashnimi zhivotnymi      73     4.0
44990  64197  Puteshestvie s domashnimi zhivotnymi     544     5.0
44991  64197  Puteshestvie s domashnimi zhivotnymi     648     3.5
44992  98604                              Zolushka     352     4.0
44993  49280                     L'Homme orchestre     187     5.0

[44989 rows x 4 columns]