In [1]:
!pip install ast

Collecting ast
  Downloading AST-0.0.2.tar.gz (19 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/4b/fb/2b954d2a38c9a0ef1da6a46737a75b4dbf6f60e5dad0f267a4ec5ece20de/AST-0.0.2.tar.gz#sha256=dc5b79c6ba11aea72c59c791a0bc5ae483b4c18fec6f643002d6fae24361eba0 (from https://pypi.org/simple/ast/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading AST-0.0.1.tar.gz (19 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/a8/5a/5497b01657ead33200c98009cb9e78fe5986c90cc39ddaa64306f37472cf/AST-0.0.1.tar.gz#sha256=3ed8a7bd3526cfc46de1b849d92b03ae4600ed2042151f187b756c50ade5c2b0 (from https://pypi.org/simple/ast/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement ast (from versions: 0.0.1, 0.0.2)
ERROR: No matching distribution found for ast

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import ast
from sklearn.preprocessing import MultiLabelBinarizer

In [39]:
df = pd.read_csv('/content/drive/MyDrive/DataSets/the-movies-dataset/movies_metadata_fixed.csv')
df.head(1)

   adult  ... vote_count
0  False  ...       5415

[1 rows x 24 columns]

In [5]:
df.shape

(45463, 24)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  int64
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45463 non-null  float64
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45463 non-null  int64
 16  runtime                45206 non-null  float64
 17  spoken_languages       45463 non-null  object
 18  status                 45382 non-null  object
 19  tagline                20413 non-null  object
 20  title                  45463 non-null  object
 21  video                  45463 non-null  bool
 22  vote_average           45463 non-null  float64
 23  vote_count             45463 non-null  int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 7.7+ MB



---

# Drop columns

---

In [40]:
df = df[['title', 'release_date', 'vote_count', 'vote_average', 'genres']]
df.head()

                         title  ...                                             genres
0                    Toy Story  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1                      Jumanji  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2             Grumpier Old Men  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3            Waiting to Exhale  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4  Father of the Bride Part II  ...                     [{'id': 35, 'name': 'Comedy'}]

[5 rows x 5 columns]

---
# Checking for outliers
---

Conclusions regarding the correctness of the values were based on the knowledge of the domain.

In [41]:
min_vote_count, max_vote_count = df['vote_count'].quantile([0, 1])
min_vote_count, max_vote_count

(0.0, 14075.0)

In [42]:
min_vote_average, max_vote_average = df['vote_average'].quantile([0, 1])
min_vote_average, max_vote_average

(0.0, 10.0)



---

# Handling the 'genres' column

---

In [43]:
def handling_genres_column(data):
  data['genres'] = data['genres'].fillna('[]') \
                             .apply(ast.literal_eval) \
                             .apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
  return data

In [44]:
# Unique values for the "genres" column
def unique_values_for_genres(data):
  genres = []
  count_of_oblects = data.shape[0]
  for i in range(count_of_oblects):
    for k in data.iloc[i][4]:
      if k not in genres:
        genres.append(k)
  return genres

In [45]:
df = handling_genres_column(df)
df.head(1)

       title release_date  ...  vote_average                       genres
0  Toy Story   1995-10-30  ...           7.7  [Animation, Comedy, Family]

[1 rows x 5 columns]

In [46]:
unique_values_for_genres(df)

['Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'History',
 'Science Fiction',
 'Mystery',
 'War',
 'Foreign',
 'Music',
 'Documentary',
 'Western',
 'TV Movie']

In [47]:
df.head()

                         title  ...                        genres
0                    Toy Story  ...   [Animation, Comedy, Family]
1                      Jumanji  ...  [Adventure, Fantasy, Family]
2             Grumpier Old Men  ...             [Romance, Comedy]
3            Waiting to Exhale  ...      [Comedy, Drama, Romance]
4  Father of the Bride Part II  ...                      [Comedy]

[5 rows x 5 columns]

In [48]:
mlb = MultiLabelBinarizer(sparse_output=True)

df = df.join(pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('genres')),
                index=df.index,
                columns=mlb.classes_))

In [49]:
df.head()

                         title release_date  vote_count  ...  Thriller  War  Western
0                    Toy Story   1995-10-30        5415  ...         0    0        0
1                      Jumanji   1995-12-15        2413  ...         0    0        0
2             Grumpier Old Men   1995-12-22          92  ...         0    0        0
3            Waiting to Exhale   1995-12-22          34  ...         0    0        0
4  Father of the Bride Part II   1995-02-10         173  ...         0    0        0

[5 rows x 24 columns]



---

# Work with column names

---

![image.png]()

Where,


 

*   u is the number of votes for the movie
*   m is the minimum votes required to be listed in the chart
*   R is the average rating of the movie
*   C is the mean vote across the whole report

In [50]:
u = df['vote_count']
m = df['vote_count'].quantile(0.95)
R =  df['vote_average']
C = df['vote_average'].mean()

In [51]:
df['weight'] = ((u / (u + m)) * R) + ((m / (u + m)) * C)

In [52]:
df.columns.nunique()

25

In [53]:
df = df[['title', 'release_date', 'vote_count', 'vote_average', 'weight', 
         'Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary',
         'Drama', 'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music',
         'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller',
         'War', 'Western']]

In [54]:
df = df.rename(columns={'Science Fiction': 'Science_Fiction', 'TV Movie': 'TV_Movie'})

In [55]:
df.columns = map(str.lower, df.columns)

In [56]:
df.head(1)

       title release_date  vote_count  ...  thriller  war  western
0  Toy Story   1995-10-30        5415  ...         0    0        0

[1 rows x 25 columns]

In [57]:
df.columns.nunique()

25



---

# General Rating Recommendation System

---

In [58]:
# To avoid infinity in the "weights" column
df = df[df.vote_count != 0]

In [59]:
df = df[df.vote_average != 0]

In [60]:
df.sort_values('vote_average', ascending=False).head()

                                                   title  ... western
37332                                       Book of Days  ...       0
15249                              Ween: Live in Chicago  ...       0
15397                                      Little Dorrit  ...       0
33278  Dream Deceivers: The Story Behind James Vance ...  ...       0
45359                  The Many Faces of Christopher Lee  ...       0

[5 rows x 25 columns]

In [61]:
# Output is 50 best movies in different genres
def general_vote(data):
  return data.sort_values('weight', ascending=False).head(50)

In [62]:
general_vote(df)

                                                   title  ... western
314                             The Shawshank Redemption  ...       0
834                                        The Godfather  ...       0
12481                                    The Dark Knight  ...       0
2843                                          Fight Club  ...       0
292                                         Pulp Fiction  ...       0
351                                         Forrest Gump  ...       0
522                                     Schindler's List  ...       0
23672                                           Whiplash  ...       0
5481                                       Spirited Away  ...       0
1154                             The Empire Strikes Back  ...       0
15480                                          Inception  ...       0
2211                                   Life Is Beautiful  ...       0
18465                                   The Intouchables  ...       0
22878                                       Interstellar  ...       0
1178                              The Godfather: Part II  ...       0
7000       The Lord of the Rings: The Return of the King  ...       0
289                               Leon: The Professional  ...       0
1152                     One Flew Over the Cuckoo's Nest  ...       0
3030                                      The Green Mile  ...       0
256                                            Star Wars  ...       0
46                                                 Se7en  ...       0
1170                                          GoodFellas  ...       0
1176                                              Psycho  ...       0
4863   The Lord of the Rings: The Fellowship of the Ring  ...       0
2216                                  American History X  ...       0
586                             The Silence of the Lambs  ...       0
5814               The Lord of the Rings: The Two Towers  ...       0
4099                                             Memento  ...       0
1213                                         The Shining  ...       0
1057                                      Reservoir Dogs  ...       0
1225                                  Back to the Future  ...       0
24859                                 The Imitation Game  ...       0
359                                        The Lion King  ...       0
49                                    The Usual Suspects  ...       0
23752                            Guardians of the Galaxy  ...       0
22840                           The Grand Budapest Hotel  ...       0
2458                                          The Matrix  ...       0
11354                                       The Prestige  ...       0
32142                                               Room  ...       0
1201                                  Dead Poets Society  ...       0
1161                                        12 Angry Men  ...       0
22130                            The Wolf of Wall Street  ...       0
30313                                         Inside Out  ...       0
13605                               Inglourious Basterds  ...       0
17437       Harry Potter and the Deathly Hallows: Part 2  ...       0
9698                                Howl's Moving Castle  ...       0
109                                          Taxi Driver  ...       0
2884                                   Princess Mononoke  ...       0
23674                                          Gone Girl  ...       0
3456                                           Gladiator  ...       0

[50 rows x 25 columns]



---

# Rating Recommender System by Genre

---

In [63]:
# Output is 50 best movies in definite genre. Input must be in lower case.
def genres_vote(data, genre):
  return data[data[genre] == 1].sort_values('weight', ascending=False).head(50)

In [64]:
genres_vote(df, 'crime')

                                     title release_date  ...  war  western
314               The Shawshank Redemption   1994-09-23  ...    0        0
834                          The Godfather   1972-03-14  ...    0        0
12481                      The Dark Knight   2008-07-16  ...    0        0
292                           Pulp Fiction   1994-09-10  ...    0        0
1178                The Godfather: Part II   1974-12-20  ...    0        0
289                 Leon: The Professional   1994-09-14  ...    0        0
3030                        The Green Mile   1999-12-10  ...    0        0
46                                   Se7en   1995-09-22  ...    0        0
1170                            GoodFellas   1990-09-12  ...    0        0
586               The Silence of the Lambs   1991-02-01  ...    0        0
1057                        Reservoir Dogs   1992-09-02  ...    0        0
49                      The Usual Suspects   1995-07-19  ...    0        0
22130              The Wolf of Wall Street   2013-12-25  ...    0        0
109                            Taxi Driver   1976-02-07  ...    0        0
5878                           City of God   2002-02-05  ...    0        0
4135                              Scarface   1983-12-08  ...    0        0
11316                         The Departed   2006-10-05  ...    0        0
21603                            Prisoners   2013-09-18  ...    0        0
3824                   Requiem for a Dream   2000-10-27  ...    0        0
1184           Once Upon a Time in America   1984-02-16  ...    0        0
6725                     Kill Bill: Vol. 1   2003-10-10  ...    0        0
1650                      The Big Lebowski   1998-03-06  ...    0        0
18252                The Dark Knight Rises   2012-07-16  ...    0        0
758                          Trainspotting   1996-02-23  ...    0        0
7271                     Kill Bill: Vol. 2   2004-04-16  ...    0        0
5851                   Catch Me If You Can   2002-12-25  ...    0        0
25533         Kingsman: The Secret Service   2015-01-29  ...    0        0
12170               No Country for Old Men   2007-11-08  ...    0        0
3886                                Snatch   2000-09-01  ...    0        0
28130                    The Hateful Eight   2015-12-25  ...    0        1
10122                        Batman Begins   2005-06-10  ...    0        0
24444                         Nightcrawler   2014-10-23  ...    0        0
600                                  Fargo   1996-04-05  ...    0        0
1214                           Stand by Me   1986-08-22  ...    0        0
5                                     Heat   1995-12-15  ...    0        0
15                                  Casino   1995-11-22  ...    0        0
17439                                Drive   2011-08-06  ...    0        0
1544                     L.A. Confidential   1997-09-19  ...    0        0
21024                       Now You See Me   2013-05-29  ...    0        0
1207                             Chinatown   1974-06-20  ...    0        0
6721                          Mystic River   2003-10-07  ...    0        0
2085                      The Untouchables   1987-06-02  ...    0        0
11617                             Hot Fuzz   2007-02-14  ...    0        0
2429   Lock, Stock and Two Smoking Barrels   1998-03-05  ...    0        0
4833                        Ocean's Eleven   2001-12-07  ...    0        0
3413                       American Psycho   2000-04-13  ...    0        0
11646                               Zodiac   2007-03-02  ...    0        0
1164                 To Kill a Mockingbird   1962-12-25  ...    0        0
12165                    American Gangster   2007-11-02  ...    0        0
9888                              Sin City   2005-04-01  ...    0        0

[50 rows x 25 columns]

In [65]:
genres_vote(df, 'family')

                                              title release_date  ...  war  western
5481                                  Spirited Away   2001-07-20  ...    0        0
1225                             Back to the Future   1985-07-03  ...    0        0
359                                   The Lion King   1994-06-23  ...    0        0
30313                                    Inside Out   2015-06-09  ...    0        0
17437  Harry Potter and the Deathly Hallows: Part 2   2011-07-07  ...    0        0
13724                                            Up   2009-05-13  ...    0        0
12704                                        WALL·E   2008-06-22  ...    0        0
24454                                    Big Hero 6   2014-10-24  ...    0        0
7725       Harry Potter and the Prisoner of Azkaban   2004-05-31  ...    0        0
0                                         Toy Story   1995-10-30  ...    0        0
36250                                      Zootopia   2016-02-11  ...    0        0
5833                             My Neighbor Totoro   1988-04-16  ...    0        0
6232                                   Finding Nemo   2003-05-30  ...    0        0
15348                                   Toy Story 3   2010-06-16  ...    0        0
4766       Harry Potter and the Philosopher's Stone   2001-11-16  ...    0        0
4756                                 Monsters, Inc.   2001-11-01  ...    0        0
10554           Harry Potter and the Goblet of Fire   2005-11-05  ...    0        0
16128  Harry Potter and the Deathly Hallows: Part 1   2010-10-17  ...    0        0
23556                    How to Train Your Dragon 2   2014-06-12  ...    0        0
11567                                   Ratatouille   2007-06-22  ...    0        0
14984                      How to Train Your Dragon   2010-03-05  ...    0        0
926                           It's a Wonderful Life   1946-12-20  ...    0        0
14625                           Hachi: A Dog's Tale   2009-06-13  ...    0        0
5678        Harry Potter and the Chamber of Secrets   2002-11-13  ...    0        0
11927     Harry Potter and the Order of the Phoenix   2007-06-28  ...    0        0
22717                                The Lego Movie   2014-02-06  ...    0        0
13893        Harry Potter and the Half-Blood Prince   2009-07-07  ...    0        0
546                  The Nightmare Before Christmas   1993-10-09  ...    0        0
8234                                The Incredibles   2004-11-05  ...    0        0
588                            Beauty and the Beast   1991-11-13  ...    0        0
1798                                          Mulan   1998-06-18  ...    0        0
1902                     Back to the Future Part II   1989-11-20  ...    0        0
581                                         Aladdin   1992-11-25  ...    0        0
16130                                       Tangled   2010-11-24  ...    0        0
22109                                        Frozen   2013-11-27  ...    0        0
1155                             The Princess Bride   1987-09-18  ...    0        0
2646                                 The Iron Giant   1999-08-06  ...    0        0
4178                                          Shrek   2001-05-16  ...    0        0
2997                                    Toy Story 2   1999-10-30  ...    0        0
19900                                      Paperman   2012-11-02  ...    0        0
41454                                         Moana   2016-11-23  ...    0        0
1065                     E.T. the Extra-Terrestrial   1982-04-03  ...    0        0
30399       Fantastic Beasts and Where to Find Them   2016-11-16  ...    0        0
6212                              Castle in the Sky   1986-08-02  ...    0        0
40012                      Kubo and the Two Strings   2016-08-18  ...    0        0
892                                The Wizard of Oz   1939-08-15  ...    0        0
1896                                    The Goonies   1985-06-06  ...    0        0
15472                                 Despicable Me   2010-07-08  ...    0        0
14378                             Fantastic Mr. Fox   2009-10-23  ...    0        0
1610                                      Anastasia   1997-11-20  ...    0        0

[50 rows x 25 columns]