In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install ast

Collecting ast
  Downloading AST-0.0.2.tar.gz (19 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/4b/fb/2b954d2a38c9a0ef1da6a46737a75b4dbf6f60e5dad0f267a4ec5ece20de/AST-0.0.2.tar.gz#sha256=dc5b79c6ba11aea72c59c791a0bc5ae483b4c18fec6f643002d6fae24361eba0 (from https://pypi.org/simple/ast/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading AST-0.0.1.tar.gz (19 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/a8/5a/5497b01657ead33200c98009cb9e78fe5986c90cc39ddaa64306f37472cf/AST-0.0.1.tar.gz#sha256=3ed8a7bd3526cfc46de1b849d92b03ae4600ed2042151f187b756c50ade5c2b0 (from https://pypi.org/simple/ast/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement ast (from versions: 0.0.1, 0.0.2)
ERROR: No matching distribution found for ast

In [3]:
import pandas as pd
import numpy as np
import ast
from sklearn.preprocessing import MultiLabelBinarizer

In [4]:
df = pd.read_csv('/content/drive/MyDrive/DataSets/the-movies-dataset/movies_metadata_fixed.csv')
df.head(1)

   adult  ... vote_count
0  False  ...       5415

[1 rows x 24 columns]

In [5]:
df.shape

(45463, 24)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  int64
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45463 non-null  float64
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45463 non-null  int64
 16  runtime                45206 non-null  float64
 17  spoken_languages       45463 non-null  object
 18  status                 45382 non-null  object
 19  tagline                20413 non-null  object
 20  title                  45463 non-null  object
 21  video                  45463 non-null  bool
 22  vote_average           45463 non-null  float64
 23  vote_count             45463 non-null  int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 7.7+ MB



---

# Drop columns

---

In [7]:
df = df[['title', 'release_date', 'vote_count', 'vote_average', 'genres']]
df.head()

                         title  ...                                             genres
0                    Toy Story  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1                      Jumanji  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2             Grumpier Old Men  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3            Waiting to Exhale  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4  Father of the Bride Part II  ...                     [{'id': 35, 'name': 'Comedy'}]

[5 rows x 5 columns]



---

# Handling the 'genres' column

---

In [8]:
# Transform JSON-format to python array
def handling_genres_column_json(df):
  df['genres'] = df['genres'].fillna('[]') \
                             .apply(ast.literal_eval) \
                             .apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
  return df

In [9]:
# Analytics of 'genres' columns
def value_counts_for_genres(df):
  genres = []
  count_of_oblects = df.shape[0]
  for i in range(count_of_oblects):
    for k in df.iloc[i][4]:
      if k not in genres:
        genres.append(k)
  return genres

In [ ]:
'''def drop_list_genres(df):
  df.genres = [', '.join(i) for i in df.genres]
  return df'''

In [11]:
df = handling_genres_column_json(df)
df.head(1)

       title release_date  ...  vote_average                       genres
0  Toy Story   1995-10-30  ...           7.7  [Animation, Comedy, Family]

[1 rows x 5 columns]

In [12]:
value_counts_for_genres(df)

['Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'History',
 'Science Fiction',
 'Mystery',
 'War',
 'Foreign',
 'Music',
 'Documentary',
 'Western',
 'TV Movie']

In [ ]:
'''df = drop_list_genres(df)'''

In [14]:
df.head()

                         title  ...                        genres
0                    Toy Story  ...   [Animation, Comedy, Family]
1                      Jumanji  ...  [Adventure, Fantasy, Family]
2             Grumpier Old Men  ...             [Romance, Comedy]
3            Waiting to Exhale  ...      [Comedy, Drama, Romance]
4  Father of the Bride Part II  ...                      [Comedy]

[5 rows x 5 columns]

In [15]:
mlb = MultiLabelBinarizer(sparse_output=True)

df = df.join(pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('genres')),
                index=df.index,
                columns=mlb.classes_))

In [16]:
df.head()

                         title release_date  vote_count  ...  Thriller  War  Western
0                    Toy Story   1995-10-30        5415  ...         0    0        0
1                      Jumanji   1995-12-15        2413  ...         0    0        0
2             Grumpier Old Men   1995-12-22          92  ...         0    0        0
3            Waiting to Exhale   1995-12-22          34  ...         0    0        0
4  Father of the Bride Part II   1995-02-10         173  ...         0    0        0

[5 rows x 24 columns]



---

# General Rating Recommendation System

---

In [17]:
# To avoid infinity in the "weights" column
df = df[df.vote_count != 0]

In [18]:
df['weight'] = df['vote_count'] / df['vote_average']
df = df[df.vote_average != 0]

In [19]:
df.sort_values('vote_average', ascending=False).head()

                                                   title  ... weight
37332                                       Book of Days  ...    0.1
15249                              Ween: Live in Chicago  ...    0.1
15397                                      Little Dorrit  ...    0.1
33278  Dream Deceivers: The Story Behind James Vance ...  ...    0.1
45359                  The Many Faces of Christopher Lee  ...    0.1

[5 rows x 25 columns]

In [20]:
# Output is 50 best movies in different genres
def general_vote(df):
  return df.sort_values('weight', ascending=False).head(50)

In [21]:
general_vote(df)

                                                   title  ...       weight
15480                                          Inception  ...  1737.654321
14551                                             Avatar  ...  1682.500000
17818                                       The Avengers  ...  1621.621622
26563                                           Deadpool  ...  1546.486486
12481                                    The Dark Knight  ...  1478.192771
18244                                   The Hunger Games  ...  1396.231884
22878                                       Interstellar  ...  1381.111111
25083                                     Jurassic World  ...  1360.307692
20050                                   Django Unchained  ...  1320.128205
26552                                 Mad Max: Fury Road  ...  1319.041096
20829                                         Iron Man 3  ...  1316.323529
30541                                      Suicide Squad  ...  1307.966102
23752                            Guardians of the Galaxy  ...  1267.594937
31070                 Batman v Superman: Dawn of Justice  ...  1261.228070
18252                              The Dark Knight Rises  ...  1218.815789
12588                                           Iron Man  ...  1209.594595
19970                  The Hobbit: An Unexpected Journey  ...  1203.857143
2843                                          Fight Club  ...  1166.024096
2458                                          The Matrix  ...  1149.240506
19261                                            Skyfall  ...  1118.550725
4863   The Lord of the Rings: The Fellowship of the Ring  ...  1111.500000
17444                 Captain America: The First Avenger  ...  1086.969697
26554                       Star Wars: The Force Awakens  ...  1065.733333
15153                                         Iron Man 2  ...  1055.909091
26566                         Captain America: Civil War  ...  1050.985915
292                                         Pulp Fiction  ...  1044.578313
19129                             The Amazing Spider-Man  ...  1036.000000
1639                                             Titanic  ...  1036.000000
7000       The Lord of the Rings: The Return of the King  ...  1015.555556
16974                                               Thor  ...  1011.818182
10122                                      Batman Begins  ...  1001.466667
21067                                       Man of Steel  ...   994.153846
351                                         Forrest Gump  ...   993.536585
314                             The Shawshank Redemption  ...   983.294118
30049                                        The Martian  ...   979.210526
23357                                               Lucy  ...   960.000000
6390   Pirates of the Caribbean: The Curse of the Bla...  ...   958.800000
4766            Harry Potter and the Philosopher's Stone  ...   958.400000
5814               The Lord of the Rings: The Two Towers  ...   955.125000
26557                            Avengers: Age of Ultron  ...   946.301370
15472                                      Despicable Me  ...   928.873239
13724                                                 Up  ...   903.589744
22057                    The Hunger Games: Catching Fire  ...   899.459459
31863                                       The Revenant  ...   898.356164
14416                                               2012  ...   891.785714
13746                                       The Hangover  ...   878.333333
24872              The Hunger Games: Mockingjay - Part 1  ...   873.787879
26561                                            Ant-Man  ...   861.285714
22130                            The Wolf of Wall Street  ...   856.708861
30313                                         Inside Out  ...   852.784810

[50 rows x 25 columns]



---

# Rating Recommender System by Genre

---

In [23]:
# Output is 50 best movies in definite genre
def genres_vote(df, genre):
  df1 = df[df[genre] == 1]
  return df1.sort_values('weight', ascending=False).head(50)

In [24]:
genres_vote(df, 'Crime')

                                    title release_date  ...  Western       weight
12481                     The Dark Knight   2008-07-16  ...        0  1478.192771
30541                       Suicide Squad   2016-08-02  ...        0  1307.966102
18252               The Dark Knight Rises   2012-07-16  ...        0  1218.815789
292                          Pulp Fiction   1994-09-10  ...        0  1044.578313
10122                       Batman Begins   2005-06-10  ...        0  1001.466667
314              The Shawshank Redemption   1994-09-23  ...        0   983.294118
22130             The Wolf of Wall Street   2013-12-25  ...        0   856.708861
14557                     Sherlock Holmes   2009-12-23  ...        0   840.428571
25533        Kingsman: The Secret Service   2015-01-29  ...        0   798.552632
20969                    Fast & Furious 6   2013-05-06  ...        0   788.358209
21024                      Now You See Me   2013-05-29  ...        0   771.917808
46                                  Se7en   1995-09-22  ...        0   730.246914
30759                             Spectre   2015-10-26  ...        0   722.539683
834                         The Godfather   1972-03-14  ...        0   708.705882
15017                            Kick-Ass   2010-03-22  ...        0   668.591549
6725                    Kill Bill: Vol. 1   2003-10-10  ...        0   661.168831
18723                      21 Jump Street   2012-03-12  ...        0   619.552239
28130                   The Hateful Eight   2015-12-25  ...        1   579.605263
18258  Sherlock Holmes: A Game of Shadows   2011-11-22  ...        0   567.285714
11316                        The Departed   2006-10-05  ...        0   563.924051
586              The Silence of the Lambs   1991-02-01  ...        0   561.604938
43252             The Fate of the Furious   2017-04-12  ...        0   559.264706
4833                       Ocean's Eleven   2001-12-07  ...        0   535.694444
4241             The Fast and the Furious   2001-06-22  ...        0   528.030303
7271                    Kill Bill: Vol. 2   2004-04-16  ...        0   527.402597
289                Leon: The Professional   1994-09-14  ...        0   523.536585
17439                               Drive   2011-08-06  ...        0   517.837838
5851                  Catch Me If You Can   2002-12-25  ...        0   508.701299
3030                       The Green Mile   1999-12-10  ...        0   508.048780
38847                    Now You See Me 2   2016-06-02  ...        0   501.791045
13061                   Quantum of Solace   2008-10-30  ...        0   494.262295
20049                        Jack Reacher   2012-12-20  ...        0   483.492063
23552                      22 Jump Street   2014-06-05  ...        0   482.142857
25796                             Chappie   2015-03-04  ...        0   473.333333
1057                       Reservoir Dogs   1992-09-02  ...        0   471.728395
24444                        Nightcrawler   2014-10-23  ...        0   457.236842
19473                             Taken 2   2012-09-27  ...        0   456.229508
21406                   We're the Millers   2013-08-07  ...        0   448.970588
42165                John Wick: Chapter 2   2017-02-08  ...        0   436.417910
15989                                 RED   2010-10-13  ...        0   433.030303
23554                       The Equalizer   2014-09-24  ...        0   422.112676
22165                     American Hustle   2013-12-12  ...        0   421.764706
1178               The Godfather: Part II   1974-12-20  ...        0   411.807229
49                     The Usual Suspects   1995-07-19  ...        0   411.604938
12705                              Wanted   2008-06-19  ...        0   403.593750
21603                           Prisoners   2013-09-18  ...        0   402.911392
12170              No Country for Old Men   2007-11-08  ...        0   400.389610
1170                           GoodFellas   1990-09-12  ...        0   391.585366
2837       Home Alone 2: Lost in New York   1992-11-19  ...        0   390.317460
362                              The Mask   1994-07-29  ...        0   386.363636

[50 rows x 25 columns]

In [25]:
genres_vote(df, 'Family')

                                              title  ...      weight
4766       Harry Potter and the Philosopher's Stone  ...  958.400000
15472                                 Despicable Me  ...  928.873239
13724                                            Up  ...  903.589744
30313                                    Inside Out  ...  852.784810
6232                                   Finding Nemo  ...  827.894737
12704                                        WALLE  ...  825.512821
4756                                 Monsters, Inc.  ...  820.000000
42219                          Beauty and the Beast  ...  813.235294
24454                                    Big Hero 6  ...  806.282051
5678        Harry Potter and the Chamber of Secrets  ...  806.216216
7725       Harry Potter and the Prisoner of Azkaban  ...  784.025974
1225                             Back to the Future  ...  779.875000
30399       Fantastic Beasts and Where to Find Them  ...  779.444444
17437  Harry Potter and the Deathly Hallows: Part 2  ...  777.341772
10554           Harry Potter and the Goblet of Fire  ...  767.733333
11927     Harry Potter and the Order of the Phoenix  ...  761.216216
16128  Harry Potter and the Deathly Hallows: Part 1  ...  761.066667
14892                           Alice in Wonderland  ...  745.781250
22109                                        Frozen  ...  745.205479
30698                                       Minions  ...  738.906250
13893        Harry Potter and the Half-Blood Prince  ...  734.459459
8234                                The Incredibles  ...  714.864865
19071                                         Brave  ...  710.447761
0                                         Toy Story  ...  703.246753
359                                   The Lion King  ...  690.000000
21160                               Despicable Me 2  ...  675.571429
23436                                    Maleficent  ...  658.142857
19726                                Wreck-It Ralph  ...  655.774648
36250                                      Zootopia  ...  644.285714
38173                                  Finding Dory  ...  637.205882
20543                    Oz: The Great and Powerful  ...  627.368421
15348                                   Toy Story 3  ...  619.736842
10979                                          Cars  ...  604.696970
11567                                   Ratatouille  ...  601.333333
30497                       The Secret Life of Pets  ...  599.322034
14984                      How to Train Your Dragon  ...  575.866667
4178                                          Shrek  ...  573.013699
9536              Charlie and the Chocolate Factory  ...  561.044776
5084                                        Ice Age  ...  556.901408
2997                                    Toy Story 2  ...  536.164384
1902                     Back to the Future Part II  ...  530.540541
21100                           Monsters University  ...  517.428571
10089                                    Madagascar  ...  503.333333
20526                         Jack the Giant Slayer  ...  478.909091
5481                                  Spirited Away  ...  478.072289
41454                                         Moana  ...  475.479452
581                                         Aladdin  ...  472.297297
29290                                  Tomorrowland  ...  468.387097
12648                                 Kung Fu Panda  ...  468.260870
10826                         Ice Age: The Meltdown  ...  466.769231

[50 rows x 25 columns]