In [1]:
!pip install ast

Collecting ast
  Downloading AST-0.0.2.tar.gz (19 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/4b/fb/2b954d2a38c9a0ef1da6a46737a75b4dbf6f60e5dad0f267a4ec5ece20de/AST-0.0.2.tar.gz#sha256=dc5b79c6ba11aea72c59c791a0bc5ae483b4c18fec6f643002d6fae24361eba0 (from https://pypi.org/simple/ast/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading AST-0.0.1.tar.gz (19 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/a8/5a/5497b01657ead33200c98009cb9e78fe5986c90cc39ddaa64306f37472cf/AST-0.0.1.tar.gz#sha256=3ed8a7bd3526cfc46de1b849d92b03ae4600ed2042151f187b756c50ade5c2b0 (from https://pypi.org/simple/ast/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement ast (from versions: 0.0.1, 0.0.2)
ERROR: No matching distribution found for ast

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import ast
from sklearn.preprocessing import MultiLabelBinarizer

In [4]:
df = pd.read_csv('/content/drive/MyDrive/DataSets/the-movies-dataset/movies_metadata_fixed.csv')
df.head(1)

   adult  ... vote_count
0  False  ...       5415

[1 rows x 24 columns]

In [5]:
df.shape

(45463, 24)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  int64
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45463 non-null  float64
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45463 non-null  int64
 16  runtime                45206 non-null  float64
 17  spoken_languages       45463 non-null  object
 18  status                 45382 non-null  object
 19  tagline                20413 non-null  object
 20  title                  45463 non-null  object
 21  video                  45463 non-null  bool
 22  vote_average           45463 non-null  float64
 23  vote_count             45463 non-null  int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 7.7+ MB



---

# Drop columns

---

In [7]:
df = df[['title', 'release_date', 'vote_count', 'vote_average', 'genres']]
df.head()

                         title  ...                                             genres
0                    Toy Story  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1                      Jumanji  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2             Grumpier Old Men  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3            Waiting to Exhale  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4  Father of the Bride Part II  ...                     [{'id': 35, 'name': 'Comedy'}]

[5 rows x 5 columns]

---
# Checking for outliers
---

Conclusions regarding the correctness of the values were based on the knowledge of the domain.

In [8]:
min_vote_count, max_vote_count = df['vote_count'].quantile([0, 1])
min_vote_count, max_vote_count

(0.0, 14075.0)

In [9]:
min_vote_average, max_vote_average = df['vote_average'].quantile([0, 1])
min_vote_average, max_vote_average

(0.0, 10.0)



---

# Handling the 'genres' column

---

In [10]:
def handle_genres_column(data):
  data['genres'] = data['genres'].fillna('[]') \
                             .apply(ast.literal_eval) \
                             .apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
  return data

In [11]:
# Unique values for the "genres" column
def get_unique_values_for_genres(data):
  genres = []
  count_of_oblects = data.shape[0]
  for i in range(count_of_oblects):
    for k in data.iloc[i][4]:
      if k not in genres:
        genres.append(k)
  return genres

In [12]:
df = handle_genres_column(df)
df.head(1)

       title release_date  ...  vote_average                       genres
0  Toy Story   1995-10-30  ...           7.7  [Animation, Comedy, Family]

[1 rows x 5 columns]

In [13]:
get_unique_values_for_genres(df)

['Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'History',
 'Science Fiction',
 'Mystery',
 'War',
 'Foreign',
 'Music',
 'Documentary',
 'Western',
 'TV Movie']

In [14]:
mlb = MultiLabelBinarizer(sparse_output=True)

df = df.join(pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('genres')),
                index=df.index,
                columns=mlb.classes_))

In [15]:
df.head()

                         title release_date  vote_count  ...  Thriller  War  Western
0                    Toy Story   1995-10-30        5415  ...         0    0        0
1                      Jumanji   1995-12-15        2413  ...         0    0        0
2             Grumpier Old Men   1995-12-22          92  ...         0    0        0
3            Waiting to Exhale   1995-12-22          34  ...         0    0        0
4  Father of the Bride Part II   1995-02-10         173  ...         0    0        0

[5 rows x 24 columns]



---

# Create the 'weight' column

---

![image.png]()

Where,


 

*   u is the number of votes for the movie
*   m is the minimum votes required to be listed in the chart
*   R is the average rating of the movie
*   C is the mean vote across the whole report

In [16]:
u = df['vote_count']
m = df['vote_count'].quantile(0.95)
R =  df['vote_average']
C = df['vote_average'].mean()

In [17]:
df['weight'] = ((u / (u + m)) * R) + ((m / (u + m)) * C)



---

# Work with column names

---

In [18]:
df = df[['title', 'release_date', 'vote_count', 'vote_average', 'weight', 
         'Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary',
         'Drama', 'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music',
         'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller',
         'War', 'Western']]

In [19]:
df = df.rename(columns={'Science Fiction': 'Science_Fiction', 'TV Movie': 'TV_Movie'})

In [20]:
df.columns = map(str.lower, df.columns)

In [21]:
df.head(1)

       title release_date  vote_count  ...  thriller  war  western
0  Toy Story   1995-10-30        5415  ...         0    0        0

[1 rows x 25 columns]



---

# General Rating Recommendation System

---

In [22]:
# To avoid infinity in the "weights" column
df = df[df.vote_count != 0]

In [23]:
df = df[df.vote_average != 0]

In [24]:
df.sort_values('vote_average', ascending=False).head()

                                                   title  ... western
37332                                       Book of Days  ...       0
15249                              Ween: Live in Chicago  ...       0
15397                                      Little Dorrit  ...       0
33278  Dream Deceivers: The Story Behind James Vance ...  ...       0
45359                  The Many Faces of Christopher Lee  ...       0

[5 rows x 25 columns]

In [34]:
# Output is 50 best movies in different genres
def get_best_movies(data):
  return data.sort_values('weight', ascending=False)[['title']].head(50)

In [35]:
get_best_movies(df)

                                                   title
314                             The Shawshank Redemption
834                                        The Godfather
12481                                    The Dark Knight
2843                                          Fight Club
292                                         Pulp Fiction
351                                         Forrest Gump
522                                     Schindler's List
23672                                           Whiplash
5481                                       Spirited Away
1154                             The Empire Strikes Back
15480                                          Inception
2211                                   Life Is Beautiful
18465                                   The Intouchables
22878                                       Interstellar
1178                              The Godfather: Part II
7000       The Lord of the Rings: The Return of the King
289                               Leon: The Professional
1152                     One Flew Over the Cuckoo's Nest
3030                                      The Green Mile
256                                            Star Wars
46                                                 Se7en
1170                                          GoodFellas
1176                                              Psycho
4863   The Lord of the Rings: The Fellowship of the Ring
2216                                  American History X
586                             The Silence of the Lambs
5814               The Lord of the Rings: The Two Towers
4099                                             Memento
1213                                         The Shining
1057                                      Reservoir Dogs
1225                                  Back to the Future
24859                                 The Imitation Game
359                                        The Lion King
49                                    The Usual Suspects
23752                            Guardians of the Galaxy
22840                           The Grand Budapest Hotel
2458                                          The Matrix
11354                                       The Prestige
32142                                               Room
1201                                  Dead Poets Society
1161                                        12 Angry Men
22130                            The Wolf of Wall Street
30313                                         Inside Out
13605                               Inglourious Basterds
17437       Harry Potter and the Deathly Hallows: Part 2
9698                                Howl's Moving Castle
109                                          Taxi Driver
2884                                   Princess Mononoke
23674                                          Gone Girl
3456                                           Gladiator



---

# Rating Recommender System by Genre

---

In [36]:
# Output is 50 best movies in definite genre. Input must be in lower case.
def get_best_movies_in_genre(data, genre):
  return data[data[genre] == 1].sort_values('weight', ascending=False)[['title']].head(50)

In [37]:
get_best_movies_in_genre(df, 'fantasy')

                                                   title
5481                                       Spirited Away
7000       The Lord of the Rings: The Return of the King
3030                                      The Green Mile
4863   The Lord of the Rings: The Fellowship of the Ring
5814               The Lord of the Rings: The Two Towers
17437       Harry Potter and the Deathly Hallows: Part 2
9698                                Howl's Moving Castle
2884                                   Princess Mononoke
7725            Harry Potter and the Prisoner of Azkaban
5833                                  My Neighbor Totoro
10839                                     V for Vendetta
4748                                        Donnie Darko
22058                The Hobbit: The Desolation of Smaug
15530                                         Mr. Nobody
26554                       Star Wars: The Force Awakens
6390   Pirates of the Caribbean: The Curse of the Bla...
4766            Harry Potter and the Philosopher's Stone
23358                         X-Men: Days of Future Past
10554                Harry Potter and the Goblet of Fire
16128       Harry Potter and the Deathly Hallows: Part 1
1100                     Monty Python and the Holy Grail
23556                         How to Train Your Dragon 2
11308                                    Pan's Labyrinth
11567                                        Ratatouille
14984                           How to Train Your Dragon
926                                It's a Wonderful Life
2178                                 Edward Scissorhands
5678             Harry Potter and the Chamber of Secrets
11927          Harry Potter and the Order of the Phoenix
22717                                     The Lego Movie
13893             Harry Potter and the Half-Blood Prince
546                       The Nightmare Before Christmas
588                                 Beauty and the Beast
6994                                            Big Fish
581                                              Aladdin
1155                                  The Princess Bride
2646                                      The Iron Giant
14551                                             Avatar
4178                                               Shrek
1460                                   The Fifth Element
1220                                       Groundhog Day
13219                The Curious Case of Benjamin Button
1065                          E.T. the Extra-Terrestrial
29462                                 The Age of Adaline
17125                                  Midnight in Paris
30399            Fantastic Beasts and Where to Find Them
6212                                   Castle in the Sky
33354                                       Wonder Woman
2601                                        Ghostbusters
892                                     The Wizard of Oz