In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [30]:
!pip install ast

Collecting ast
  Downloading AST-0.0.2.tar.gz (19 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/4b/fb/2b954d2a38c9a0ef1da6a46737a75b4dbf6f60e5dad0f267a4ec5ece20de/AST-0.0.2.tar.gz#sha256=dc5b79c6ba11aea72c59c791a0bc5ae483b4c18fec6f643002d6fae24361eba0 (from https://pypi.org/simple/ast/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading AST-0.0.1.tar.gz (19 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/a8/5a/5497b01657ead33200c98009cb9e78fe5986c90cc39ddaa64306f37472cf/AST-0.0.1.tar.gz#sha256=3ed8a7bd3526cfc46de1b849d92b03ae4600ed2042151f187b756c50ade5c2b0 (from https://pypi.org/simple/ast/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement ast (from versions: 0.0.1, 0.0.2)
ERROR: No matching distribution found for ast

In [32]:
import pandas as pd
import numpy as np
import ast

In [116]:
df = pd.read_csv('/content/drive/MyDrive/DataSets/the-movies-dataset/movies_metadata_fixed.csv')
df.head(1)

   adult  ... vote_count
0  False  ...       5415

[1 rows x 24 columns]

In [9]:
df.shape

(45463, 5)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         45463 non-null  object
 1   release_date  45379 non-null  object
 2   vote_count    45463 non-null  int64
 3   vote_average  45463 non-null  float64
 4   genres        45463 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.7+ MB



---

# Drop columns

---

In [117]:
df = df[['title', 'release_date', 'vote_count', 'vote_average', 'genres']]
df.head()

                         title  ...                                             genres
0                    Toy Story  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1                      Jumanji  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2             Grumpier Old Men  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3            Waiting to Exhale  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4  Father of the Bride Part II  ...                     [{'id': 35, 'name': 'Comedy'}]

[5 rows x 5 columns]



---

# Handling the 'genres' column

---

In [118]:
def handling_genres_column_json(df):
  df['genres'] = df['genres'].fillna('[]') \
                             .apply(ast.literal_eval) \
                             .apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
  return df

In [119]:
df = handling_genres_column_json(df)
df.head(1)

       title release_date  ...  vote_average                       genres
0  Toy Story   1995-10-30  ...           7.7  [Animation, Comedy, Family]

[1 rows x 5 columns]



---

# General Rating Recommendation System

---

In [121]:
# To avoid infinity in the "weights" column
df = df[df.vote_count != 0]

In [132]:
df['weight'] = df['vote_count'] / df['vote_average']
df = df[df.vote_average != 0]

In [139]:
df.sort_values('vote_average', ascending=False).head()

                                                   title  ... weight
37332                                       Book of Days  ...    0.1
15249                              Ween: Live in Chicago  ...    0.1
15397                                      Little Dorrit  ...    0.1
33278  Dream Deceivers: The Story Behind James Vance ...  ...    0.1
45359                  The Many Faces of Christopher Lee  ...    0.1

[5 rows x 6 columns]

In [143]:
# Output is 50 best movies in different genres
def vote(df):
  return df.sort_values('weight', ascending=False).head(50)

In [144]:
vote(df)

                                                   title  ...       weight
15480                                          Inception  ...  1737.654321
14551                                             Avatar  ...  1682.500000
17818                                       The Avengers  ...  1621.621622
26563                                           Deadpool  ...  1546.486486
12481                                    The Dark Knight  ...  1478.192771
18244                                   The Hunger Games  ...  1396.231884
22878                                       Interstellar  ...  1381.111111
25083                                     Jurassic World  ...  1360.307692
20050                                   Django Unchained  ...  1320.128205
26552                                 Mad Max: Fury Road  ...  1319.041096
20829                                         Iron Man 3  ...  1316.323529
30541                                      Suicide Squad  ...  1307.966102
23752                            Guardians of the Galaxy  ...  1267.594937
31070                 Batman v Superman: Dawn of Justice  ...  1261.228070
18252                              The Dark Knight Rises  ...  1218.815789
12588                                           Iron Man  ...  1209.594595
19970                  The Hobbit: An Unexpected Journey  ...  1203.857143
2843                                          Fight Club  ...  1166.024096
2458                                          The Matrix  ...  1149.240506
19261                                            Skyfall  ...  1118.550725
4863   The Lord of the Rings: The Fellowship of the Ring  ...  1111.500000
17444                 Captain America: The First Avenger  ...  1086.969697
26554                       Star Wars: The Force Awakens  ...  1065.733333
15153                                         Iron Man 2  ...  1055.909091
26566                         Captain America: Civil War  ...  1050.985915
292                                         Pulp Fiction  ...  1044.578313
19129                             The Amazing Spider-Man  ...  1036.000000
1639                                             Titanic  ...  1036.000000
7000       The Lord of the Rings: The Return of the King  ...  1015.555556
16974                                               Thor  ...  1011.818182
10122                                      Batman Begins  ...  1001.466667
21067                                       Man of Steel  ...   994.153846
351                                         Forrest Gump  ...   993.536585
314                             The Shawshank Redemption  ...   983.294118
30049                                        The Martian  ...   979.210526
23357                                               Lucy  ...   960.000000
6390   Pirates of the Caribbean: The Curse of the Bla...  ...   958.800000
4766            Harry Potter and the Philosopher's Stone  ...   958.400000
5814               The Lord of the Rings: The Two Towers  ...   955.125000
26557                            Avengers: Age of Ultron  ...   946.301370
15472                                      Despicable Me  ...   928.873239
13724                                                 Up  ...   903.589744
22057                    The Hunger Games: Catching Fire  ...   899.459459
31863                                       The Revenant  ...   898.356164
14416                                               2012  ...   891.785714
13746                                       The Hangover  ...   878.333333
24872              The Hunger Games: Mockingjay - Part 1  ...   873.787879
26561                                            Ant-Man  ...   861.285714
22130                            The Wolf of Wall Street  ...   856.708861
30313                                         Inside Out  ...   852.784810

[50 rows x 6 columns]